/*
Author: Wanda Azhar
Location: Michigan, USA
Profession: Web Developer
Skills: HTML, CSS, JavaScript, React.js, Next.js, Node.js, Linux (Ubuntu)
Contact: wandaazhar@gmail.com
Description: A passionate web developer based in Michigan, USA, with expertise in crafting engaging and responsive web experiences. Proficient in a wide range of technologies including HTML, CSS, JavaScript, React.js, Next.js, and Node.js. Enthusiastic about optimizing user experiences and creating visually appealing websites. With a background in Linux and Ubuntu, I bring a unique perspective to my coding projects. Get in touch to collaborate on exciting web development ventures.
*/

$boxShadow: rgba(100, 100, 111, 0.15) 0px 0px 25px 0px;
$bgColorPrimary: #ececec